node_modules/
coverage/
.env
credentials.md
Automated CI_CD Pipeline for a Web Application (DevOps Project).docx
CLAUDE.md

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
